body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    position:relative;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}


.post:hover {

    background-color: #36bbce;

}

.article-but:hover{

    background-color: brown;

}
.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
    padding-left:45px;
}
footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}

.staryqbog {

    background-color: purple;
    padding: 10px;
    font-size: 20px;
    position:fixed;
    right:0px;
    width:125px;
    height:300px;
    top:230px;
    text-align:center;
    border:1px solid purple;
    border-radius:10px;


}

.birka {

    position:absolute;
    

}


.inyan::after {

    content:url("");
    width:15px;
    height:15px;
}



.inyan::before {

    content:url("");
    width:15px;
    height:15px;
}


.nav-link:hover {

    color: #133aac;

}

.button:hover {

    background-color: yellow;

}

h2:hover {

    color:white;

}
